.justify-nav {
    justify-content: end;
}

.flashes-container {
    font-size: 1.5rem;
    background-color: #6c757d;
    color: #fff;
    margin-bottom: 0;
}

.flash-text {
    margin-bottom: 0;
}

.form-text {
    font-style: italic;
}