.home-main-image {
    background: url(../images/homemainguitar2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    margin-top: -1.5rem;
}

.home-main-image-text {
    padding: 2.5rem 0;
}

.have-account {
    padding-top: 0.9rem;
    text-shadow: none;
}

header {
    margin-bottom: 1.5rem;
}

.justify-nav {
    justify-content: end;
}

.flashes-container {
    font-size: 1.5rem;
    background-color: #6c757d;
    color: #fff;
    margin-bottom: 0;
}

.flash-text {
    margin-bottom: 0;
}

.form-text {
    font-style: italic;
}

#single-review-container {
    max-width: 900px;
    background-color: rgb(255, 255, 255, 1);
    color: #000;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

footer {
    background-color: #212529;
    color: #9a9d9e;
}

.footer-first-row {
    padding-top: 1.5rem;
}

.footer-social-icon {
    font-size: 1.5rem;
    padding: 0rem 0.5rem;
}

.footer-social-icon:hover {
    color: #fff;
    transition: 0.4s;
}

footer a {
    color: inherit !important;
    text-decoration: none !important;
}

.copyright {
    padding-top: 1rem;
}