{% extends "base.html" %}
{% block content %}

<!-- Custom 404 error page -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h1>Oops!</h1>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
            <p>We couldn't find the page you were looking for. But don't worry... Just <a href="{{ url_for('index') }}">click here</a> to go back home.
            </p>
        </div>
    </div>
</div>

{% endblock %}