{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h1>Your profile</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center">
            <p>Welcome, {{ username }}!</p>
        </div>
    </div>
    <div class="row mb-5">
        {% for review in user_reviews %}
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ review.review_title }}
                        {% if review.explicit_language == "yes" %}
                        <i class="fa-solid fa-triangle-exclamation" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip" data-bs-title="Warning! Contains explicit language">
                        </i>
                        {% endif %}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ review.song_name }}, by
                        {{ review.artist_name }},
                        {{ review.genre_name }}</h6>
                    <p class="card-text">
                        {% if review.review_content|length > 90 %}
                            {{ review.review_content|truncate(90, True) }}
                        {% else %}
                            {{ review.review_content}}
                        {% endif %}
                    </p>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Author: {{ review.review_by }}</h6>
                    
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('review_details', review_id=review._id) }}" class="btn btn-secondary">Read
                        more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}