{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h1><i>{{ review.review_title }}</i></h1>
        </div>
    </div>
    <div class="container" id="single-review-container">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <p>
                    <b>Song Name:</b><br>
                    {{ review.song_name }}
                </p>
            </div>
            <div class="col-md-4 text-center">
                <p>
                    <b>Artist:</b><br>
                    {{ review.artist_name }}
                </p>
            </div>
            <div class="col-md-4 text-center">
                <p>
                    <b>Genre:</b><br>
                    {{ review.genre_name }}
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center">
                <h2>
                    A review by {{ review.review_by }}:
                </h2>
                <p>
                    {{ review.review_content }}
                </p>
            </div>
        </div>
        {% if review.explicit_language == "yes" %}
        <div class="row justify-content-center">
            <div class="col text-center">
                <div class="alert alert-danger" role="alert">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    Warning! This song contains explicit language.
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col text-center">
                {% if session.user|lower == review.review_by|lower %}
                    <a href="{{ url_for('edit_review', review_id=review._id) }}"><button type="button" class="btn btn-success">Edit Review</button></a>
                    <a href=""></a><button type="button" class="btn btn-danger">Delete Review</button></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
