{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        {% for review in reviews %}
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ review.review_title }}
                        {% if review.explicit_language == "yes" %}
                        <i class="fa-solid fa-triangle-exclamation" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip" data-bs-title="Warning! Contains explicit language">
                        </i>
                        {% endif %}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ review.song_name }}, {{ review.artist_name }},
                        {{ review.genre_name }}</h6>
                    <p class="card-text">{{ review.review_content }}</p>
                    <a href="#" class="btn btn-secondary">Read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
